* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --color-primary-light: #2a2c37;
  --color-primary-dark: #1d1e26;
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  --color-green: #50fa7b;
  --color-white: #eaeef1;
  --color-blue: #9580ff;
}

body {
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

header {
  height: 80vh;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-primary-dark);
  padding: 1rem;
  z-index: 10;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style: none;
  text-align: right;
  margin-right: 5rem;
}

.nav-element {
  display: inline-block;
  margin: 1rem 2rem;
}

.nav-element a:link, a:visited {
  text-decoration: none;
  color: var(--color-white);
  transition: all 0.3s;
}

.nav-element a:hover {
  color: var(--color-green);
}

.heading-box {
  text-align: center;
}

.heading-box h1 {
  font-size: 7rem;
  font-weight: 700;
  color: var(--color-green);
}

.heading-box h3 {
  margin-top: 1rem;
  font-size: 3rem;
}

.arrow-down {
  font-size: 8rem;
  margin-top: 3rem;
  transform: translateY(0);
  animation: moveDown 2s infinite;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(4rem);
    opacity: 1;
  }
}
.section-about-me {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.section-about-me img {
  width: 40rem;
  margin: 0 5rem;
}

.sub-heading {
  color: var(--color-green);
  font-size: 6rem;
}

.intro {
  margin: 0 5rem;
}

.intro p {
  font-weight: 400;
  font-size: 2.2rem;
  width: 50rem;
  margin-top: 2rem;
}

.section-projects {
  margin: 0 15rem;
}

.section-projects h2 {
  padding: 2rem;
  margin: 6rem 0 0;
}

.projects-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.project-card {
  height: 55rem;
  width: 30rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  margin: 5rem 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-image: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
}

.project-screenshot {
  width: 100%;
  cursor: pointer;
  transition: all 0.5s;
}

.project-title {
  position: absolute;
  top: 10%;
  opacity: 0;
  transition: all 0.5s;
}

.project-link:link,
.project-link:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 4rem;
  margin: 0 2rem;
  transition: all 0.2s;
}

.project-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.project-description {
  position: absolute;
  top: 40%;
  margin-top: 4rem;
  padding: 2rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0;
  transition: all 0.5s;
}

.project-card:hover .project-screenshot {
  opacity: 0;
}

.project-card:hover .project-title {
  opacity: 1;
}

.project-card:hover .project-description {
  opacity: 1;
}

.section-blogs {
  padding: 5rem 0 10rem;
  margin: 10rem 0 0;
  background-color: var(--color-primary-dark);
  position: relative;
}

.section-blogs h2 {
  padding: 2rem;
  margin-left: 10rem;
}

.arrow-right {
  position: absolute;
  top: 50%;
  left: 4%;
  font-size: 8rem;
  transform: translate(0, -50%);
  animation: moveRight 2s infinite;
}

@keyframes moveRight {
  0% {
    transform: translate(0, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(4rem, -50%);
    opacity: 1;
  }
}
.blogs-container {
  display: flex;
  margin: 2rem 0 0 25rem;
  padding: 4rem;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.blogs-container::-webkit-scrollbar {
  width: 0;
}

.blog-card {
  height: 50rem;
  width: 30rem;
  border-radius: 1.5rem;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  margin-right: -10rem;
  padding: 2rem;
  transition: all 0.3s;
}

.blog-card:hover {
  margin-right: 0;
}

.blog-card h3 {
  margin-top: 2rem;
  font-size: 3rem;
}

.article-link:link,
.article-link:visited {
  color: inherit;
  text-decoration: none;
}

.article-link:hover {
  color: var(--color-green);
}

.blog-card img {
  margin-top: 5rem;
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
}

.author {
  color: gray;
  margin-top: 8rem;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.social-links {
  font-size: 2.5rem;
}

.social-links a:link,
.social-links a:visited {
  color: var(--color-white);
}

.social-links a:hover {
  color: rgba(255, 255, 255, 0.6);
}

footer p {
  margin-top: 1rem;
}

/*# sourceMappingURL=styles.css.map */
