*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    --color-primary-light: #2a2c37;
    --color-primary-dark: #1d1e26;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;
    --color-green: #50fa7b;
    --color-white: #eaeef1;
    --color-blue: #9580ff;

    @include respond (large-pc){
		font-size: 75%;
	}

    @include respond (tab-land){
		font-size: 56.25%;
	}

	@include respond (tab-port){
		font-size: 50%;
	}

    @include respond (phone){
        font-size: 40%;
    }

	@include respond (mobile){
		font-size:  35%;
	}
}

body{
    font-family: 'Fira Code', monospace;
    box-sizing: border-box;
    font-size: 1.6rem;
    background-color: var(--color-primary-light);
    color: var(--color-white);
}
